{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
    <style>
    div#vehicule_ve_date_help {
        margin-left: 150px;
        background: lightgray;
    }
    </style>
{% endblock %}

{% block main %}
<section class="container my-5">

    <h2 class="mb-4">Modification d'un véhicule</h2>

    {# Formulaire de modification du véhicule avec Bootstrap #}
    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'true'}}) }}
    
        <div class="mb-3">
            {{ form_label(form.ve_marque, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.ve_marque, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.ve_marque) }}
        </div>
        
        <div class="mb-3">
            {{ form_label(form.ve_modele, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.ve_modele, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.ve_modele) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.ve_conducteur, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.ve_conducteur, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.ve_conducteur) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.ve_date, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.ve_date, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.ve_date) }}
        </div>
        <button type="submit" class="btn btn-success">Enregistrer</button>
    
    {{ form_end(form) }}

</section>
{% endblock %}
